body {
    font-size: 1em;
    color: black;
    margin-left: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
}

h1 {
    font-size: 1em;
}

.fullPage {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    padding-top: 100px;
}

.project {
    width: 90%;
    border: 2px solid grey;
    display: flex;
    padding: 1em;
    margin: 2em;
}

.projectData {
    margin: 20px; 
}

.page-footer {
    display: flex;
    margin: 1em;
}

.footer-item {
    margin: auto; 
    padding: 20 px;
    font-size: 1.2em;
}

a {
    color: black;
    font-size: .80em;
    text-transform: uppercase;
}

a:hover {
    color: navy;
}

a :active {
    text-decoration: underline;
    color: navy;
}

p {
    text-align: left;
}
/* .detailsSection {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 30%;
}

.details {
    border: 2px solid gray;
    width: 20%;
    height: auto;

} */

ul {
    text-align: left;
    margin: 20px; 
    font-size: 1.25em;
}

td {
    border: 2px solid gray;
    padding: 2em;
    width: 30%;
    font-style: italic;
    line-height: 125%;
}

