body {
    background-color: lightgrey;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

h1 {
    font-size: 2em;
}

/* .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: lightsteelblue;
    border-color: lightsteelblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

#navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navItem {
    width: 150px;
    height: 30px;
    border: 3px solid gray;
    margin: 10px;
    padding: 10px;
    box-shadow: 20px 5px 5px grey;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 1.5em;;
    text-decoration: none;
    background-color: lightsteelblue;
}

.project {
    border: 2px solid grey;
    display: flex;
    padding: 20px;
    margin: 1em;
}

.page-footer {
    display: flex;
    margin: 1em;
}
.footer-item {
    margin: 10px; 
    padding: 10 px;
    font-size: 1.2em;
}