@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '../styles/colors.scss';

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 0;
    text-align: center;
    min-height: 400px;
}

h1 {
    font-size: 1em;
    color: $dark-blue;
}

h2 {
    font-size: 1.5em;
    color: $dark-blue;
    text-transform: uppercase;
}

.fullPage {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    padding-top: 100px;
}

.full-img {
    width: 100%;
}

.sectionIntro {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

h6 {
    font-weight: bolder;
}

.page-footer {
    display: flex;
    background-color: white;
    padding: 0.5em;
}

.footer-item {
    margin: auto; 
    padding: 20 px;
    font-size: 2em;
}

.margin-bottom {
    margin-bottom: 5em;
}

a {
    color: black;
    font-size: .80em;
    text-transform: uppercase;
}

a:hover {
    color: $dark-blue;
}

a :active {
    text-decoration: underline;
    color: $dark-blue;
}

p {
    text-align: left;
}

ul {
    text-align: left;
    margin: 20px; 
    font-size: 1.25em;
}

td {
    border: 2px solid gray;
    padding: 2em;
    width: 30%;
    font-style: italic;
    line-height: 125%;
}

// PROJECTS
.project-container {
    justify-content: space-evenly;
}

.modalImage {
    width: 80%;
}

.techIcon {
    height: 75px;
}

.modal-backdrop.show {
    display: none;
}

.modal.fade {
    background: radial-gradient(circle, grey, lightgrey, grey);
}

