@import '../../../styles/_colors';
@import '../../../styles/_variables';

.project-container {
  text-align: center;
  align-items: center;
}

.project-card {
  border: 3px double grey;
  border-radius: 30px;
  margin: 2em;
  box-shadow: $box-shadow;
  img {
    display: inline-block;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  p {
    font-size: .75em;
  }
}
