@import '../../../styles/_colors';
@import '../../../styles/_variables';

.project-container {
  text-align: center;
  align-items: center;
}

.project-card {
  border: 3px double grey;
  border-radius: 30px;
  margin: 2em;
  box-shadow: $box-shadow;
  img {
    display: inline-block;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  p {
    font-size: .75em;
  }
}

.btnOpenProjectDetails {
  border: 3px double grey;
  border-radius: 30px;
}

// .projectsEnter {
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 50000s, opacity 1s linear;
// }

// .animatedDiv {
//   transition: opacity 1s ease-out;
//   opacity: 0;
//   height: 0;
//   overflow: hidden;
// }
.animatedDiv.active {
  transition: none 500s ease-in 500s;
  // opacity: 1;
  // height: auto;
}
